<div class="relative h-screen bg-MyBg">
    <!-- Header Section -->
    <div class="relative mx-auto px-4">
        <div class="flex flex-col lg:flex-row lg:space-x-8">
        <div class="relative w-full">
            <!-- Vines Image Left (Bottom Left Corner) -->
            <div class="fixed bottom-0 left-0 h-16 md:h-32 lg:h-48">
            <img src="../../../assets/Vines2.svg" alt="Vines Left" class="h-full object-contain">
            </div>
    
            <!-- Logo Center -->
            <div class="absolute top-0 left-1/2 transform -translate-x-1/2 h-24 md:h-36 lg:h-44 flex justify-center items-center">
            <img src="../../../assets/nombreLogoVioleta.png" alt="Lucybell Logo" class="h-full">
            </div>
    
            <!-- Vines Image Right -->
            <div class="absolute top-0 right-0 h-16 md:h-32 lg:h-48">
            <img src="../../../assets/vines1.svg" alt="Vines Right" class="h-full object-contain">
            </div>
        </div>
        </div>
    </div>
  
      <!-- Main Content -->
  <div class="flex flex-col items-center justify-center h-full">
    <div class="p-6 bg-white rounded shadow-lg">
      <h1 class="text-2xl font-bold text-center mb-4">Restablecer contraseña</h1>
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="mb-4">

          <label for="nuevaPassword" class="block text-gray-700 font-bold mb-2">Nueva Contraseña</label>
          <input
            id="nuevaPassword"
            type="password"
            formControlName="nuevaPassword"
            class="border rounded px-4 py-2 w-full"
          />

          <label for="repetirPassword" class="block text-gray-700 font-bold mb-2 mt-4">Repetir Contraseña</label>
          <input
            id="repetirPassword"
            type="password"
            formControlName="repetirPassword"
            class="border rounded px-4 py-2 w-full"
          />

          <div *ngIf="formulario.get('nuevaPassword')?.invalid && formulario.get('nuevaPassword')?.touched">
            <small class="text-red-500">La contraseña debe tener al menos 8 caracteres, 1 mayusculña y 1 número.</small>
          </div>
          <div *ngIf="formulario.hasError('noCoinciden')">
            <small class="text-red-500">Las contraseñas no coinciden.</small>
          </div>
        </div>

        <div class="flex justify-center">
          <button type="submit" [disabled]="formulario.invalid" class="w-full lg:w-auto mt-4 btn btn-primary font-medium text-base px-6">
            Restablecer contraseña
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
