<div>
    <app-navBar></app-navBar>
</div>

<div id="navBar-Space" class="mt-80"></div>

<section id="tranding" class="max-h-32">
    <div class="container">
      <h1 class="text-center section-heading">Destacados</h1>
    </div>
    <div class="container">
      <div class="swiper tranding-slider">
        <div class="swiper-wrapper">
          <!-- Slide-start -->
          <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
              <img src="../../../assets/Captura de pantalla_9-5-2024_174637_www.instagram.com.jpeg" alt="Tranding">
            </div>
            <div class="tranding-slide-content" >
              <h1 class="price">$20</h1>
              <div class="tranding-slide-content-bottom">
                <h2 class="prod-name">
                  Collar de perlas
                </h2>
              </div>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide tranding-slide" >
            <div class="tranding-slide-img">
              <img src="../../../assets/Captura de pantalla_9-5-2024_174637_www.instagram.com.jpeg" alt="Tranding">
            </div>
            <div class="tranding-slide-content">
              <h1 class="price">$20</h1>
              <div class="tranding-slide-content-bottom">
                <h2 class="prod-name">
                    Collar de perlas
                </h2>
              </div>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
              <img src="../../../assets/Captura de pantalla_9-5-2024_174637_www.instagram.com.jpeg" alt="Tranding">
            </div>
            <div class="tranding-slide-content">
              <h1 class="price">$40</h1>
              <div class="tranding-slide-content-bottom">
                <h2 class="prod-name">
                 Collar de perlas
                </h2>
              </div>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
              <img src="../../../assets/Captura de pantalla_9-5-2024_174637_www.instagram.com.jpeg" alt="Tranding">
            </div>
            <div class="tranding-slide-content">
              <h1 class="price">$15</h1>
              <div class="tranding-slide-content-bottom">
                <h2 class="prod-name">
                    Collar de perlas
                </h2>
              </div>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
              <img src="../../../assets/Captura de pantalla_9-5-2024_174637_www.instagram.com.jpeg" alt="Tranding">
            </div>
            <div class="tranding-slide-content">
              <h1 class="price">$15</h1>
              <div class="tranding-slide-content-bottom">
                <h2 class="prod-name">
                    Collar de perlas
                </h2>
              </div>
            </div>
          </div>
        </div>

        <div class="tranding-slider-control">
          <div class="swiper-button-prev slider-arrow">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </div>
          <div class="swiper-button-next slider-arrow">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </div>
  </section>

  <div class="mt-96"> IT WORKS</div>

