<div class="flex flex-col min-h-screen">
	<div class="flex-grow">
		<div *ngIf="isLargeScreen" class="mb-48 sm:mb-60 lg:mb-80" >
			<app-navBar class="sticky top-0 z-50 Bg-MyBg"></app-navBar>
		</div>
		  
		<app-nav-bar-responsive></app-nav-bar-responsive>
		
		<app-destacados></app-destacados>
		
		<div class="p-2 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 auto-rows-max pb-10 gap-4 slider-size">
			<div *ngFor="let categoria of listaCategorias">
				<div class="relative w-full aspect-[4/6] overflow-hidden rounded-lg max-w-sm hover:scale-105 transition duration-300 ease-in-out cursor-pointer" (click)="goToCategory(categoria.id)" >
					<div class="flex h-full w-full absolute justify-center items-center">
						<h3 class="text-white text-2xl z-[19] volSC"> {{categoria.nombre}} </h3>
					</div>			  
					<div class="flex z-10 bg-black absolute opacity-60 w-full h-full"></div>
					<div *ngIf="categoria.urlImagen">
						<img [ngSrc]="url + categoria.urlImagen" alt="imagen de {{categoria.nombre}}" class="absolute inset-0 w-full h-full object-cover" fill/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</div>

