body {
  display: flex;
}

.sidebar {
  width: 16rem;

}

.main-content {
  flex-grow: 1;
  padding: 1rem; /* Optional: add some padding for better appearance */
}

.table-title {
  max-width: 90%;
}

.table-width {
 
  max-height: 30rem;
}

.gradient-line {
  position: relative;
  height: 1px;

  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
}

.border-fix {
  border-radius: 12px 0px 0px 12px;
}


.hidden-btn-bg {
  background-color: #241f24;
}

@media (max-width: 400px) {

  .table-title {
    max-width: 95%;
  }
}

@media (max-width: 640px) {
  .sidebar {
    width: 40px; /* Adjust sidebar width */
    height: 70px;
  }

  .main-content {
    margin-left: 0; /* Adjust main content margin */
  }

  .border-fix {
    border-radius: 12px 12px 12px 12px;
  }
}
