<h2 class="flex justify-center font-Julius text-2xl">INICIAR SESION</h2>

<app-mostrar-errores [errores]="errores"></app-mostrar-errores>

<form (submit)="guardarCambios()" [formGroup]="form" class="space-y-4 font-volkornSC">
    <!-- Campo de email -->
    <div class="flex flex-col">
      <label for="email" class="mb-1 text-gray-700 font-black">Email</label>
      <input id="email" type="email" class="border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" [formControl]="form.controls.email" />
      <!-- Mensaje de error -->
      <span class="text-red-500 text-sm" *ngIf="form.controls.email.invalid && form.controls.email.touched">{{obtenerMensajeErrorEmail()}}</span>
    </div>
  
    <!-- Campo de password -->
    <div class="flex flex-col">
      <label for="password" class="mb-1 text-gray-700 font-black">Constraseña</label>
      <input id="password" type="password" class="border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" [formControl]="form.controls.password" />
      <!-- Mensaje de error -->
      <span class="text-red-500 text-sm" *ngIf="form.controls.password.invalid && form.controls.password.touched">{{obtenerMensajeErrorPassword()}}</span>
    </div>
  
    <!-- Botón de enviar -->
    <div class="flex justify-center">
      <button type="submit" class="bg-purplePersonalizado hover:bg-blue-500 text-2xl text-black font-medium py-2 px-12 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" [disabled]="form.invalid">INGRESAR</button>
    </div>
  </form>
  