<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-4">Resumen de Compra</h1>

  <form (ngSubmit)="confirmarCompra()" #pedidoForm="ngForm">

    <!-- Método de pago -->
    <div class="mb-4">
      <label for="metodoPago" class="block text-sm font-medium text-gray-700">Método de Pago</label>
      <select id="metodoPago" [(ngModel)]="medioPagoSeleccionado" name="metodoPago" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md">
        <option value="Efectivo">Efectivo</option>
        <option value="Transferencia">Transferencia</option>
      </select>
    </div>

    <!-- Envío o Retiro -->
    <div class="flex items-center space-x-4">
      <label class="inline-flex items-center">
        <input type="radio" name="esEnvio" [(ngModel)]="esEnvio" [value]="true" class="form-radio">
        <span class="ml-2">Envío a Domicilio</span>
      </label>
      <label class="inline-flex items-center">
        <input type="radio" name="esEnvio" [(ngModel)]="esEnvio" [value]="false" class="form-radio">
        <span class="ml-2">Retiro en Punto</span>
      </label>
    </div>

    <!-- Formulario de Envío a Domicilio -->
    <div *ngIf="esEnvio" class="space-y-4">
      <div class="mb-4">
        <label for="direccionEnvio" class="block text-sm font-medium text-gray-700">Dirección</label>
        <input id="direccionEnvio" type="text" [(ngModel)]="direccionEnvio" name="direccionEnvio" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md" required>
      </div>
      <div class="mb-4">
        <label for="ciudadEnvio" class="block text-sm font-medium text-gray-700">Barrio</label>
        <input id="ciudadEnvio" type="text" [(ngModel)]="barrioEnvio" name="ciudadEnvio" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md" required>
      </div>
      <div class="mb-4">
        <label for="codigoPostal" class="block text-sm font-medium text-gray-700">Código Postal</label>
        <input id="codigoPostal" type="text" [(ngModel)]="codigoPostal" name="codigoPostal" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md" required>
      </div>
      <div class="mb-4">
        <label for="observacion" class="block text-sm font-medium text-gray-700">Observacion</label>
        <textarea id="observacion" type="text"  cols="30" rows="5" [(ngModel)]="observacion" name="observacion" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md" required></textarea>
      </div>
    </div>

    <!-- Formulario de Retiro en Punto -->
    <div *ngIf="!esEnvio" class="space-y-4">
      <div class="mb-4">
        <label for="puntoRetiro" class="block text-sm font-medium text-gray-700">Punto de Retiro</label>
        <select id="puntoRetiro" [(ngModel)]="puntoRetiroSeleccionado" name="puntoRetiro" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md">
          <option *ngFor="let punto of puntosDeRetiro" [value]="punto">{{ punto }}</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="nombreRetira" class="block text-sm font-medium text-gray-700">Nombre para Retiro</label>
        <input id="nombreRetira" type="text" [(ngModel)]="nombreRetira" name="nombreRetira" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md" required>
      </div>
      <div class="mb-4">
        <label for="documentoRetira" class="block text-sm font-medium text-gray-700">Documento para Retiro</label>
        <input id="documentoRetira" type="text" cols="30" rows="5" [(ngModel)]="documentoRetira" name="documentoRetira" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md" required>
      </div>
    </div>

  <!-- Lista de Productos -->
  <div class="mb-4">
    <h2 class="text-xl font-semibold mb-2">Detalles del Pedido</h2>
    <div *ngFor="let item of carrito">
      <p class="text-sm">
        <strong>Producto:</strong> {{ item.producto.nombre }}<br>
        <strong>Color:</strong> {{ item.varianteSeleccionada?.color || 'No disponible' }}<br>
        <strong>Cantidad:</strong> {{ item.cantidad }}<br>
        <strong>Precio Unitario:</strong> ${{ item.producto.precio }}<br>
        <strong>Total Producto:</strong> ${{ item.producto.precio * item.cantidad }}<br><br>
      </p>
    </div>
  </div>

    <!-- Resumen del Pedido -->
    <div class="mt-6 text-xl font-semibold">
      <p>Total: ${{ total }}</p>
    </div>

    <!-- Botón de Confirmación -->
    <div class="mt-4">
      <button type="submit" [disabled]="procesando" class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md disabled:bg-gray-400">
        {{ procesando ? 'Procesando...' : 'Confirmar Compra' }}
      </button>
    </div>
  </form>
</div>






