body {
  display: flex;
}

.table-background {
  background-color: #f8efe7; 

}

.table-title {
  max-width: 90%;
}

.table-width {
 
  max-height: 30rem;
}


.border-fix-left {
  border-radius: 12px 0px 0px 12px;
}

.border-fix-right {
  border-radius: 0px 12px 12px 0px;
}


.hidden-btn-bg {
  background-color: #241f24;
}

.table-spacing {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.subcategoryColor {
  background: linear-gradient(to right, rgb(63 41 81), rgb(90 63 112), rgb(63 41 81));
  color: white;
}

.borderSub {
  border-bottom: 1px;
  border-bottom-color: rgb(0, 0, 0, 0.4);
  border-bottom-style: solid;

}

  .borderSub .right {
    border-right-color: transparent;
    border-right-width: 20px;
  }

  .borderSub .left {
    border-left-color: transparent;
    border-left-width: 20px;
  }


@media (max-width: 750px) {

  .table-title {
    max-width: 100%;
  }
}

@media (max-width: 640px) {


  .border-fix-left {
    border-radius: 12px 12px 12px 12px;
  }
}
