<div class="relative h-screen bg-MyBg">
    <!-- Header Section -->
    <div class="absolute top-0 w-full flex justify-between items-start">
      <!-- Vines Image Left -->
      <div class="h-16 md:h-32 lg:h-48">
        <img src="../../../assets/Vines2.svg" alt="Vines Left" class="h-full object-contain">
      </div>
  
      <!-- Logo Center -->
      <div class="h-24 md:h-36 lg:h-44 flex justify-center items-center">
        <img src="../../../assets/nombreLogoVioleta.png" alt="Lucybell Logo" class="h-full">
      </div>
  
      <!-- Vines Image Right -->
      <div class="h-16 md:h-32 lg:h-48">
        <img src="../../../assets/vines1.svg" alt="Vines Right" class="h-full object-contain">
      </div>
    </div>
  
    <!-- Main Content -->
    <div class="flex flex-col items-center justify-center h-full">
      <div class="p-6 bg-white rounded shadow-lg">
        <h1 class="text-2xl font-bold text-center mb-2">Confirmación de Email</h1>
        <p class="text-center">¡Tu correo ha sido confirmado exitosamente!</p>
      </div>
      <button (click)="NavegarTienda()" class="w-full lg:w-auto mt-4 btn btn-primary font-medium text-base px-6">
        Ir a la tienda
      </button>
    </div>
  </div>
  
  