<div class="flex-grow p-6">

	<div *ngIf="isLargeScreen" class="mb-48 sm:mb-60 lg:mb-80" >
		<app-navBar class="sticky top-0 z-50 Bg-MyBg"></app-navBar>
	</div>
	
	<app-nav-bar-responsive *ngIf="!isLargeScreen"></app-nav-bar-responsive>

	<div class="p-2 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 auto-rows-max pb-10 gap-4">
		<div *ngFor="let producto of productos">
			<div class="relative w-full aspect-[4/6] overflow-hidden rounded-lg max-w-sm">
				<div class="flex reverse h-full w-full absolute justify-end">
					<h3 class="text-white text-2xl z-20 volSC"> {{producto.nombre}} </h3>
				</div>			  
				<div class="flex z-10 bg-black absolute opacity-60 w-full h-full"></div>
				<div *ngIf="producto.imagenesProductos">
					<img [src]="producto.imagenesProductos[0].urlImagen" alt="imagen de {{producto.nombre}}" class="absolute inset-0 w-full h-full object-cover" />
				</div>
			</div>
		</div>
	</div>

</div>
