<footer class="gradient text-white pt-6 pb-4">

    <div class="container mx-auto grid grid-cols-2 md:grid-cols-4 gap-8 text-xs sm:text-sm max-sm:pl-2 mt-5">
      <div>
        <h3 class="font-semibold mb-2">Navegación</h3>
        <ul>
          <li><a href="/inicio" class="hover:underline">Inicio</a></li>
          <li><a href="/productos" class="hover:underline">Productos</a></li>
          <li><a href="/contacto" class="hover:underline">Contacto</a></li>
          <li><a href="#" class="hover:underline">Sobre mí</a></li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold mb-2">Preguntas frecuentes</h3>
        <ul>
          <li><a href="#" class="hover:underline">Política de ventas</a></li>
          <li><a href="#" class="hover:underline">Política de envíos</a></li>
          <li><a href="#" class="hover:underline">Devoluciones</a></li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold mb-2">Contacto</h3>
        <ul>
          <li>
            <a href="https://wa.me/543512545877?text=Hola%20quiero%20mas%20info!" target="_blank" class="hover:underline flex items-center mb-1">
              <img src="../../../../assets/icons/Whatsapp.svg" alt="Instagram" class="w-6 h-6 mr-2">
              +54 9 351 254-5877
            </a>
          </li>
          <li>
            <a href="mailto:lucybell.cba@gmail.com" class="hover:underline flex items-center ">
              <img src="../../../../assets/icons/Email.svg" alt="Email" class="w-6 h-6 mr-2">
              lucybell.cba&#64;gmail.com
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold mb-2 ml-1">Redes</h3>
        <ul>
          <li>           
            <a href="https://www.instagram.com/lucybell_cba/" target="_blank" class="hover:underline flex items-center ">
              <img src="../../../../assets/icons/Instagram.svg" alt="Instagram" class="w-6 h-6 ml-1 mr-2">
              Lucybell_cba
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/lucybell_cba/" target="_blank" class="hover:underline flex items-center">
              <img src="../../../../assets/icons/Facebook.svg" alt="Facebook" class="w-8 h-8 mr-1">
              Lucybell_cba
            </a>
          </li>
        </ul>
      </div>
    </div>
</footer>