<div class="flex">
    <app-sidebarAdmin class="sidebar"></app-sidebarAdmin>
    <button 
      (click)="toggleChildSidebar()" 
      class="md:hidden fixed bottom-4 left-4 items-center text-sm p-2 text-gray-500  rounded-full bg-MyColor bg-MyHover outline outline-violet-400 z-20">
      <span class="sr-only">Open sidebar</span>
      <img src="../../../assets/icons/Menu.svg" alt="Menu">
    </button>

    <div class="main-content flex-1 p-4">

      <div class="flex">
        <div class="block">
          <h1 class="text-3xl inline-block absolute; max-md:pl-4 max-md:text-2xl max-md:pt-4" style="font-family: VollkornSC; display: inline-block;">
            Stock
            <div class="gradient-line-title mb-4"></div>
          </h1>
          <div class="flex">
            <p class="mb-10 max-md:ml-4">Administra el stock de tus productos</p>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 grid-flow-row auto-rows-max max-md:pr-2 max-md:ml-2">
        <div *ngFor="let item of variantesConProducto" class="flex flex-col h-full shadow-yellow-950 shadow-2xl hover:scale-105 transition duration-300 ease-in-out">
          
          <div class="item-background p-4 shadow rounded text-white center flex-col h-full">
            <div>
              <div class="md:hidden flex justify-center mb-2">
                <div class="min-w-10 min-h-10 max-w-35 overflow-hidden rounded-full aspect-[4/4] ">
                  <img *ngIf="item.imagen" [src]="item.imagen" alt="imagen de {{item.productoNombre}}" class="w-full h-full object-cover" />
                </div>
              </div>
            </div>
            <div class="flex-grow flex">
              <div class="flex-grow flex">
                <div class="content-center">
                  <div class="max-md:hidden mr-2 ">
                    <div class="min-w-10 min-h-10 max-w-16 overflow-hidden rounded-full aspect-[4/4]">
                      <img *ngIf="item.imagen" [src]="item.imagen" alt="imagen de {{item.productoNombre}}" class="w-full h-full object-cover" />
                    </div>
                  </div>
                </div>

                <div class="flex-col max-sm:text-sm flex-grow">
                  <div class="relative group block sm:max-w-28 max-w-36"> 
                    <p class="line-clamp-2 break-words">{{item.productoNombre}}</p> 
                  </div>
                  <div>
                    <p class="text-purple-300">Stock: {{ item.variante.cantidad }} </p>
                  </div>
                </div>
              </div>
              <div class="ml-2 flex flex-col justify-evenly">
                <button (click)="openEditStockModal(item.productoId, item.variante, item.productoNombre)" class="p-2">
                  <img src="../../../assets/icons/BlueEdit.svg" alt="Editar">
                </button>
                <button  (click)="openDeleteStockModal(item.variante, item.productoNombre)" class="p-2">
                  <img src="../../../assets/icons/RedDelete.svg" alt="Eliminar">
                </button>
              </div>
            </div>
          </div>
        </div>
        <ng-container>
          <app-two-button-modal #deleteModalStock
                                [title]="'Eliminar Stock'"
                                [confirmButtonText]="'Eliminar'"
                                [confirmButtonColor]="'bg-red-600 hover:bg-red-700'"
                                [icon]="customIconDelete"
                                (confirm)="onDelete()"
                                (cancel)="closeDeleteStockModal()">
            <div class="flex flex-col items-center">
              <p *ngIf="modalStock && selectedVariante?.color == null">¿Está seguro de que desea borrar el stock de <strong>"{{selectedProductoNombre}}"</strong>?</p> 
              <p *ngIf="modalStock && selectedVariante?.color != null">¿Está seguro de que desea borrar el stock <strong>"{{ selectedVariante?.color }}"</strong> de <strong>"{{selectedProductoNombre}}"</strong>?</p>
            </div>
          </app-two-button-modal>
        </ng-container>
        <ng-container>
          <app-two-button-modal #editModalStock
                                [title]="'Editar Stock'"
                                [confirmButtonText]="'Editar'"
                                [confirmButtonColor]="'bg-blue-600 hover:bg-blue-700'"
                                [icon]="customIconEdit"
                                (confirm)="onEdit()"
                                (cancel)="closeEditStockModal()">
            <div class="flex flex-col mb-2">
              <p *ngIf="modalStock && selectedVariante?.color == null">Editar stock de <strong>"{{selectedProductoNombre}}"</strong></p> 
              <p *ngIf="modalStock && selectedVariante?.color != null">Editar stock <strong>"{{ selectedVariante?.color }}"</strong> de <strong>"{{selectedProductoNombre}}"</strong></p>
            </div>
            <form>
              <label for="stockCantidad" class="block text-sm font-medium text-gray-700">Cantidad</label>
              <input type="number" placeholder="Stock" class="mt-1 block w-full border-gray-300 rounded-md p-2 shadow-sm border-2"  *ngIf="selectedVariante" [(ngModel)]="selectedVariante.cantidad" name="stockCantidad" min="0" required>
            </form>
          </app-two-button-modal>
        </ng-container>
      </div>
      
    </div>
</div>
