<div *ngIf="isLargeScreen" class="mb-48 sm:mb-60 lg:mb-80" >
    <app-navBar class="sticky top-0 z-50 Bg-MyBg"></app-navBar>
</div>

<app-nav-bar-responsive *ngIf="!isLargeScreen"></app-nav-bar-responsive>

<div class="container mx-auto px-4 py-8">

    <nav class="flex items-center space-x-2 text-sm mb-8">
      <a routerLink="/" class="text-gray-500 hover:text-gray-700">Inicio</a>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
      <a routerLink="/productos" class="text-gray-500 hover:text-gray-700">Productos</a>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
      <a routerLink="/productos" class="text-gray-500 hover:text-gray-700">Producto</a>
    </nav>
  

    <div *ngIf="product;" class="grid md:grid-cols-2 gap-8 mb-16">

      <div class="space-y-4">
        <div class="aspect-square relative overflow-hidden rounded-lg border max-w-[650px]">
          <img [src]="selectedImage" alt="Pulsera de Cristales" class="object-cover w-full h-full">
        </div>
        <div class="grid grid-cols-4 gap-4 max-w-[650px]">
          <button *ngFor="let image of product.imagenesProductos" (click)="setSelectedImage(image.urlImagen)" 
                  class="aspect-square relative overflow-hidden rounded-lg border hover:border-purple-500 transition-colors">
            <img [src]="image.urlImagen" class="object-cover w-full h-full">
          </button>
        </div>
      </div>
  
      <div class="space-y-6">
        <div>
          <h1 class="text-3xl font-black mb-2 julius">{{product.nombre}}</h1>
          <p class="text-2xl font-medium">${{product.precio.toLocaleString('es-AR')}},00</p>
          <p class="text-sm text-gray-500">Coste de envío: $xxxx,xx</p>
        </div>
  
        <p class="text-gray-600">
          {{product.descripcion}}
        </p>
  
        <div class="space-y-4 inter" *ngIf="product.variantesProducto.length > 1">
          <div class="space-y-2">
            <label class="form-control w-full">
                <div class="label">
                  <span class="label-text font-medium ">Color</span>
                </div>
                <select [(ngModel)]="selectedColor" class="select select-secondary select-bordered bg-white">
                  <option *ngFor="let variante of product.variantesProducto" [value]="variante.color">{{ variante.color }}</option>
                </select>
              </label>
          </div>

        </div>

        <!-- <div class="space-y-2">
          <label for="quantity" class="label-text font-medium ">Cantidad</label>
          <div class="flex items-center space-x-2">
            <button (click)="decreaseQuantity()" class="btn btn-circle btn-outline" aria-label="Reducir cantidad">-</button>
            <input type="number" id="quantity" [(ngModel)]="quantity" class="w-16 text-center border border-1 border-secondary rounded-md p-2" min="1">
            <button (click)="increaseQuantity()" class="btn btn-circle btn-outline" aria-label="Aumentar cantidad">+</button>
          </div>
        </div>
  
        <button (click)="agregarProducto(product)" class="w-full lg:w-auto btn btn-primary font-medium text-base px-6 ">
          Agregar al carrito
        </button> -->
        <div class="space-y-2">
          <label for="quantity" class="label-text font-medium">Cantidad</label>
          <div class="flex items-center space-x-2">
            <button (click)="decreaseQuantity()" class="btn btn-circle btn-outline" aria-label="Reducir cantidad">-</button>
            <input type="number" id="quantity" [(ngModel)]="quantity" class="w-16 text-center border border-1 border-secondary rounded-md p-2" min="1">
            <button (click)="increaseQuantity()" class="btn btn-circle btn-outline" aria-label="Aumentar cantidad">+</button>
          </div>
          <p *ngIf="errorMessage" class="text-red-500 text-sm mt-1">{{ errorMessage }}</p>
        </div>
        
        <button (click)="agregarProducto(product)" class="w-full lg:w-auto btn btn-primary font-medium text-base px-6">
          Agregar al carrito
        </button>
      </div>
    </div>
  
    <!-- Related Products -->
    <section>
      <h2 class="text-2xl font-bold mb-6 julius">OTROS PRODUCTOS</h2>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div *ngFor="let product of relatedProducts" >
          <div class="border rounded-lg overflow-hidden shadow-yellow-950 shadow-2xl hover:scale-105 transition duration-300 ease-in-out border-black bg-MyColor" [routerLink]="['/productos', product.id]" (click)="onProductClick(product)">
            <div class="aspect-square relative mb-4">
              <img [src]="product.imagenesProductos[0].urlImagen" [alt]="product.nombre" class="object-cover w-full h-full">
            </div>
            <div class="p-4 text-white inter">
              <h3 class="font-medium">{{ product.nombre }}</h3>
              <p class="text-sm font-semibold">${{ product.precio.toLocaleString('es-AR') }},00</p>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
  <app-footer></app-footer>