<div class="flex">
    <app-sidebar class="sidebar max-p-max"></app-sidebar>

    <div class="main-content flex-1 p-4">
        <div class="flex">
            <div class="block">
              <h1 class="text-3xl inline-block absolute; max-sm:pl-4 max-sm:text-2xl max-sm:pt-4" style="font-family: VollkornSC; display: inline-block;">
                Usuarios
                <div class="gradient-line-title mb-4"></div>
              </h1>
              <div class="flex">
                <p class="mb-10">Administra los usuarios de la pagina</p>
              </div>
            </div>
          </div>

        <app-listado-generico [listado]="usuarios">
          <ng-container contenido>
            <div class="flex justify-center">
              <table class="w-auto divide-y divide-gray-200 shadow-lg rounded-lg">
                <thead class="bg-purplePersonalizado text-white">
                  <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Email</th>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Nombre</th>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Teléfono</th>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Acciones</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr *ngFor="let element of usuarios" class="hover:bg-gray-50">
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ element.email }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ element.nombre }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ element.telefono }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 flex space-x-2">
                      <button (click)="hacerAdmin(element.email)" class="bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded shadow-lg transition duration-300">Hacer Admin</button>
                      <button (click)="removerAdmin(element.email)" class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded shadow-lg transition duration-300">Remover Admin</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
        </app-listado-generico>
        
        <div class="flex justify-center mt-4 space-x-1">
          <button 
            (click)="irAPaginaAnterior()" 
            [disabled]="paginacion.pagina === 1" 
            class="px-4 py-2 bg-gray-300 rounded-l hover:bg-gray-400 disabled:bg-gray-100 transition duration-300">
            &lt;
         </button>
        
          <span class="px-4 py-2 bg-white border-t border-b border-gray-300">
            {{ paginacion.pagina }}
          </span>
        
          <button 
            (click)="actualizarPaginacion({ pageIndex: paginacion.pagina + 1, pageSize: paginacion.recordsPorPagina })" 
            class="px-4 py-2 bg-gray-300 rounded-r hover:bg-gray-400 transition duration-300">
            &gt;
          </button>
        </div>
        
    </div>
</div>

