.body{
    display:flex
}

.item-background {
  background-color: #221D22;
}

.addButton {
  position: relative;
  width: 130px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.addButton, .addButton__icon, .addButton__text {
  transition: all 0.3s;
}

.addButton .addButton__text {
  transform: translateX(20px);
  color: #fff;
  font-weight: 500;
}

.addButton .addButton__icon {
  position: absolute;
  transform: translateX(90px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton .svg {
  width: 30px;
  stroke: #fff;
}

.addButton:hover {
  background: #34974d;
}

.addButton:hover .addButton__text {
  color: transparent;
}

.addButton:hover .addButton__icon {
  width: 118px;
  transform: translateX(0);
}

.addButton:active .addButton__icon {
  background-color: #2e8644;
}

.addButton:active {
  border: 1px solid #2e8644;
}

