<div class="flex">
  <app-sidebarAdmin class="sidebar"></app-sidebarAdmin>
  <button 
    (click)="toggleChildSidebar()" 
    class="md:hidden fixed bottom-4 left-4 items-center text-sm p-2 text-gray-500 rounded-full bg-MyColor bg-MyHover outline outline-violet-400  z-20">
    <span class="sr-only">Open sidebar</span>
    <img src="../../../assets/icons/Menu.svg" alt="Menu">
  </button>

  <div class="main-content flex-1 p-4">
    <div class="flex flex-col">
      <div class="block">
        <h1 class="text-3xl inline-block absolute; max-md:pl-4 max-md:text-2xl max-md:pt-4" style="font-family: VollkornSC; display: inline-block;">
          Administrar Productos
          <div class="gradient-line-title mb-4"></div>
        </h1>
      </div>
      <div class="flex mb-6 max-md:ml-4">
        <p>Administra los productos agregados</p>
      </div>
    </div>
    
    <div class="mb-4 max-md:ml-4">
      <button type="button" class="addButton" (click)="openAddProdModal()">
        <span class="addButton__text">Nuevo </span>
        <span class="addButton__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
      </button>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3 grid-flow-row auto-rows-max max-md:mx-2 sm:p-10">
      <div *ngFor="let producto of productos" class="item-background rounded-lg shadow-yellow-950 shadow-2xl hover:scale-105 transition duration-300 ease-in-out">
        <div class="p-2">
          <div class="relative w-full aspect-[4/3] overflow-hidden rounded-lg">
            <div *ngIf="producto.imagenesProductos.length == 0" class="flex text-center items-center justify-center w-full h-full border-2 border-stone-700 rounded-lg">
              <p class="text-white">
                Imagen no encontrada
              </p>
            </div>
            <div *ngIf="producto.imagenesProductos.length > 0">

              <img [src]="producto.imagenesProductos[0].urlImagen" alt="imagen de {{producto.nombre}}" class="absolute inset-0 w-full h-full object-cover" />
            </div>
          </div>
        </div>
        <div class="mb-2 mx-4 flex items-center justify-center text-white font-medium">
          <p class="truncate">{{producto.nombre}}</p>
        </div>
        <div class="flex items-center justify-evenly text-white text-sm">
          <p class="text-purple-300">Stock: {{getTotalStock(producto)}}</p>
          <p class="text-purple-300">${{producto.precio}}</p>
        </div>
        <div class="flex items-center justify-between text-white text-sm p-2">
          <p class="text-orange-200 truncate max-sm:max-w-16 max-w-24"> {{ producto.categoriaNombre }} </p>
          <div class="flex">
             <button (click)="openEditModal(producto)" class="hover:scale-125 transition duration-150 ease-in-out">
              <img src="../../../assets/icons/BlueEdit.svg" alt="Editar" />
             </button>
            <button (click)="openDeleteProdModal(producto)" class="hover:scale-125 transition duration-150 ease-in-out">
              <img src="../../../assets/icons/RedDelete.svg" alt="Eliminar" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <ng-container>
      <app-two-button-modal #addModalProd
                            [title]="'Agregar Producto'"
                            [confirmButtonText]="'Agregar'"
                            [confirmButtonColor]="'bg-green-600 hover:bg-green-700'"
                            [icon]="customIconAdd"
                            (confirm)="onSubmitProd()"
                            (cancel)="closeAddProdModal()">
        <app-agregar-producto></app-agregar-producto>
      </app-two-button-modal>
    </ng-container>

    <ng-container>
      <app-two-button-modal #editModalProd
                            [title]="'Editar Producto'"
                            [confirmButtonText]="'Editar'"
                            [confirmButtonColor]="'bg-green-600 hover:bg-green-700'"
                            [icon]="customIconEdit"
                            (confirm)="onEdit()"
                            (cancel)="closeEditModal()">
        <app-edit-producto [product]="selectedProducto"></app-edit-producto>
      </app-two-button-modal>
    </ng-container>

    <ng-container>
      <app-two-button-modal #deleteModalProd
                            [title]="'Eliminar Producto'"
                            [confirmButtonText]="'Eliminar'"
                            [confirmButtonColor]="'bg-red-600 hover:bg-red-700'"
                            [icon]="customIconDelete"
                            (confirm)="onDelete()"
                            (cancel)="closeDeleteProdModal()">
        <div class="flex flex-col items-center"> 
          <p>  ¿Está seguro de que desea borrar el producto <strong>"{{ selectedProducto?.nombre }}"</strong>?</p>
          <div *ngIf="!tieneVariantes" class="items-center">
            <P class="text-red-700 font-bold mt-2"  > No podra eliminar el producto hasta que vacie su Stock </P>
            <span *ngFor="let variante of selectedProducto?.variantesProducto" class="flex justify-center text-red-700">{{variante.color || selectedProducto?.nombre }} ({{ variante.cantidad }}) </span>
          </div>
        </div>
      </app-two-button-modal>
    </ng-container>


  </div>

</div>



