<div class="flex">
  <app-sidebarAdmin class="sidebar"></app-sidebarAdmin>
  <button 
    (click)="toggleChildSidebar()" 
    class="md:hidden fixed bottom-4 left-4 items-center text-sm p-2 text-gray-500 rounded-full bg-MyColor bg-MyHover outline outline-violet-400  z-20">
    <span class="sr-only">Open sidebar</span>
    <img src="../../../assets/icons/Menu.svg" alt="Menu">
  </button>

  <div class="main-content flex-1 p-4">
    <div class="flex flex-col">
      <div class="block">
        <h1 class="text-3xl inline-block absolute; max-md:pl-4 max-md:text-2xl max-md:pt-4" style="font-family: VollkornSC; display: inline-block;">
          Administrar Productos
          <div class="gradient-line-title mb-4"></div>
        </h1>
      </div>
      <div class="flex mb-2 max-md:ml-4">
        <p>Administra los productos agregados</p>

        <div class="ml-4">
          <button (click)="openAddProdModal()" class=" bg-lime-600  rounded px-4 py-1 font-medium text-white hover:bg-lime-700 hover:scale-105 transition duration-150 ease-in-out mr-1"> AGREGAR </button>
        </div>
      </div>
      <div class="flex md:hidden mb-4">
        <div class="ml-4 z-20">
          <details class="dropdown dropdown-bottom">
            <summary class="btn bg-primary">Filtros</summary>
            <ul tabindex="0" class="dropdown-content menu  rounded-box z-[1] w-52 p-2 shadow">
              <div class="join join-vertical w-full">
                <div class="collapse collapse-arrow bg-base-200 join-item border-base-300 border">
                  <input type="radio" name="categAccordion" checked="checked" />
                  <div class="collapse-title text-xl font-medium bg-base-100">Productos</div>
                  <div class="collapse-content p-0 ">
                    <div class="join join-vertical w-full rounded-none z-10">
                      <input class="join-item btn w-full max-w-48 truncate" type="radio" name="categorias" aria-label="Todos" (click)="onCategoryChange(null)" />
                      <div *ngFor="let category of listaCategorias" class="z-0">
                        <input class="join-item btn w-full max-w-48 truncate" type="radio" name="categorias" [attr.aria-label]="category.nombre" [value]="category.id" (change)="onCategoryChange(category.id)" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="collapse collapse-arrow bg-base-200 join-item border-base-300 border">
                  <input type="radio" name="categAccordion" />
                  <div class="collapse-title text-xl font-medium bg-base-100">Tipo</div>
                  <div class="collapse-content p-0">
                    <div class="join join-vertical w-full rounded-none z-10">
                      <input class="join-item btn w-full max-w-48 truncate" type="radio" name="Subcategorias" aria-label="Todos" (click)="onSubCategoryChange(null)" />
                      <div *ngFor="let subCategory of filteredSubcategories">
                        <input class="join-item btn w-full max-w-48 truncate" type="radio" name="Subcategorias" [attr.aria-label]="subCategory.nombre" [value]="subCategory.id" (change)="onSubCategoryChange(subCategory.id)" />
                      </div>
                    </div>
                  </div>

                </div>
                <div class="collapse collapse-arrow bg-base-200 join-item border-base-300 border">
                  <input type="radio" name="categAccordion" />
                  <div class="collapse-title text-xl font-medium bg-base-100">Material</div>
                  <div class="collapse-content p-0">
                    <div class="join join-vertical w-full rounded-none z-10">
                      <input class="join-item btn w-full max-w-48 truncate" type="radio" name="Materiales" aria-label="Todos" (click)="onMaterialChange(null)" />
                      <div *ngFor="let material of listaMateriales">
                        <input class="join-item btn w-full max-w-48 truncate" type="radio" name="Materiales" [attr.aria-label]="material.nombre" [value]="material.id" (change)="onMaterialChange(material.id)" />
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </ul>
          </details>
        </div>
        <label class="input input-bordered input-primary flex items-center gap-2 ml-2">
          <input type="text" class="grow" placeholder="Buscar" [(ngModel)]="searchTerm" (change)="onSearch()"/>
          <img src="../../../assets/icons/Search.svg" alt="Search" class="h-4 w-4 opacity-70 ml-2">
        </label>
      </div>

      <label class="input input-bordered input-primary flex items-center gap-2 ml-2 max-md:hidden mb-2 max-w-96">
        <input type="text" class="grow" placeholder="Buscar" [(ngModel)]="searchTerm" (change)="onSearch()"/>
        <img src="../../../assets/icons/Search.svg" alt="Search" class="h-4 w-4 opacity-70">
      </label>

      <div class="flex ml-2 max-sm:mb-4 max-md:hidden">
        <label class="form-control min-w-20 max-w-40">
          <div class="label">
            <span class="label-text">Categoria</span>
          </div>
          <select class="select select-bordered min-w-20 max-w-40" #categorySelect (change)="onCategoryChange(+categorySelect.value)">
            <option value="null">Todos</option>
            <ng-container *ngFor="let categoria of listaCategorias">
              <option [value]="categoria.id" class="truncate">{{ categoria.nombre }}</option>
            </ng-container>
          </select>
        </label>
        <label class="form-control min-w-20 max-w-40 ml-4">
          <div class="label">
            <span class="label-text">Subcategoria</span>
          </div>
          <select class="select select-bordered min-w-20 max-w-40" #subcateorySelect (change)="onSubCategoryChange(+subcateorySelect.value)">
            <option value="null">Todos</option>
            <ng-container *ngFor="let subcategoria of filteredSubcategories">
              <option [value]="subcategoria.id" class="truncate">{{ subcategoria.nombre }}</option>
            </ng-container>
          </select>
        </label>
        <label class="form-control min-w-20 max-w-40 ml-4">
          <div class="label">
            <span class="label-text">Materiales</span>
          </div>
          <select class="select select-bordered min-w-20 max-w-40" #materialSelect (change)="onMaterialChange(+materialSelect.value)">
            <option value="null">Todos</option>
            <ng-container *ngFor="let material of listaMateriales">
              <option [value]="material.id" class="truncate">{{ material.nombre }}</option>
            </ng-container>
          </select>
        </label>
      </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3 grid-flow-row auto-rows-max max-md:mx-2 sm:p-10">
      <div *ngFor="let producto of productos" class="item-background rounded-lg shadow-yellow-950 shadow-2xl hover:scale-105 transition duration-300 ease-in-out">
        <div class="p-2">
          <div class="relative w-full aspect-[4/3] overflow-hidden rounded-lg">
            <div *ngIf="producto.imagenesProductos.length == 0" class="flex text-center items-center justify-center w-full h-full border-2 border-stone-700 rounded-lg">
              <p class="text-white">
                Imagen no encontrada
              </p>
            </div>
            <div *ngIf="producto.imagenesProductos.length > 0">

              <img [src]="producto.imagenesProductos[0].urlImagen" alt="imagen de {{producto.nombre}}" class="absolute inset-0 w-full h-full object-cover" />
            </div>
          </div>
        </div>
        <div class="mb-2 mx-4 flex items-center justify-center text-white font-medium">
          <p class="truncate">{{producto.nombre}}</p>
        </div>
        <div class="flex items-center justify-evenly text-white text-sm">
          <p class="text-purple-300">Stock: {{getTotalStock(producto)}}</p>
          <p class="text-purple-300">${{producto.precio}}</p>
        </div>
        <div class="flex items-center justify-between text-white text-sm p-2">
          <p class="text-orange-200 truncate max-sm:max-w-16 max-w-24"> {{ producto.categoriaNombre }} </p>
          <div class="flex">
            <button (click)="openEditModal(producto)" class="hover:scale-125 transition duration-150 ease-in-out">
              <img src="../../../assets/icons/BlueEdit.svg" alt="Editar" />
            </button>
            <button (click)="openDeleteProdModal(producto)" class="hover:scale-125 transition duration-150 ease-in-out">
              <img src="../../../assets/icons/RedDelete.svg" alt="Eliminar" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex md:justify-center mt-4 mb-5 ">
      <div class=" join mt-4">
        <button class="join-item btn" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">«</button>
        <button class="join-item btn">Pagina {{ currentPage }} de {{ totalPages }}</button>
        <button class="join-item btn" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage >= totalPages">»</button>
      </div>
    </div>
    <ng-container>
      <app-two-button-modal #addModalProd
                            [title]="'Agregar Producto'"
                            [confirmButtonText]="'Agregar'"
                            [confirmButtonColor]="'bg-green-600 hover:bg-green-700'"
                            [icon]="customIconAdd"
                            (confirm)="onSubmitProd()"
                            (cancel)="closeAddProdModal()">
        <app-agregar-producto></app-agregar-producto>
      </app-two-button-modal>
    </ng-container>

    <ng-container>
      <app-two-button-modal #editModalProd
                            [title]="'Editar Producto'"
                            [confirmButtonText]="'Editar'"
                            [confirmButtonColor]="'bg-green-600 hover:bg-green-700'"
                            [icon]="customIconEdit"
                            (confirm)="onEdit()"
                            (cancel)="closeEditModal()">
        <app-edit-producto [product]="selectedProducto"></app-edit-producto>
      </app-two-button-modal>
    </ng-container>

    <ng-container>
      <app-two-button-modal #deleteModalProd
                            [title]="'Eliminar Producto'"
                            [confirmButtonText]="'Eliminar'"
                            [confirmButtonColor]="'bg-red-600 hover:bg-red-700'"
                            [icon]="customIconDelete"
                            (confirm)="onDelete()"
                            (cancel)="closeDeleteProdModal()">
        <div class="flex flex-col items-center">
          <p>  ¿Está seguro de que desea borrar el producto <strong>"{{ selectedProducto?.nombre }}"</strong>?</p>
          <div *ngIf="!tieneVariantes" class="items-center">
            <P class="text-red-700 font-bold mt-2"> No podra eliminar el producto hasta que vacie su Stock </P>
            <span *ngFor="let variante of selectedProducto?.variantesProducto" class="flex justify-center text-red-700">{{variante.color || selectedProducto?.nombre }} ({{ variante.cantidad }}) </span>
          </div>
        </div>
      </app-two-button-modal>
    </ng-container>


  </div>

</div>



