<div class="flex">
  <app-sidebar class="sidebar max-p-max"></app-sidebar>

  <div class="main-content flex-1 p-4">

    <div class="">
      <h1 class="text-3xl inline-block absolute; max-sm:pl-4 max-sm:text-2xl max-sm:pt-4" style="font-family: VollkornSC; display: inline-block;">
        Administrar Productos
        <div class="gradient-line-title mb-4"></div>
      </h1>
      <p class="mb-10">Administra los productos agregados</p>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-2 grid-flow-row auto-rows-max">
      <div *ngFor="let producto of productos" class="item-background rounded-lg">
        <div class="p-2">
          <div class="relative w-full aspect-[4/3] overflow-hidden rounded-lg">
            <div *ngIf="producto.imagenesProductos.length > 0">
              <img [src]="producto.imagenesProductos[0].urlImagen" alt="imagen de {{producto.nombre}}" class="absolute inset-0 w-full h-full object-cover" />
            </div>
          </div>
        </div>
        <div class="mb-2 flex items-center justify-center text-white font-medium">
          {{producto.nombre}}
        </div>
        <div class="flex items-center justify-evenly text-white text-sm">
          <p>Stock: {{getTotalStock(producto)}}</p>
          <p>${{producto.precio}}</p>
        </div>
        <div class="flex items-center justify-between text-white text-sm p-2">
          <p> {{producto.categoriaId}}</p>
          <div class="flex">
            <!-- Example of SVGs, can be replaced with actual content or icons -->
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
              <!-- SVG content -->
            </svg>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
              <!-- SVG content -->
            </svg>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>



