
<div *ngIf="isOpen" [@fade]="animationState" class="fixed inset-0 z-50 flex items-center justify-center p-4" aria-labelledby="modal-title" role="dialog" aria-modal="true">

    <!-- Background backdrop -->
    <div class="fixed inset-0 bg-black bg-opacity-50 transition-opacity duration-300" (click)="onOverlayClick($event)"></div>
  
    <!-- Modal content -->
    <div class="relative z-100 w-full max-w-lg p-6 myBackground rounded-lg shadow-xl transition-all ease-out duration-300 sm:my-8 max-h-screen overflow-y-auto">
      <!-- Header with title and close button -->
      <div class="flex items-start justify-between">
        <div class="flex items-center">
          <!-- Icon placeholder -->
          <div class="flex items-center justify-center w-12 h-12 sm:h-10 sm:w-10 mb-4 ">
            <!-- aca va icono -->
          </div>
        </div>
        <!-- Close button -->
        <button (click)="closeModal()" class="text-gray-400 hover:text-gray-600 focus:outline-none">
          <i class='bx bx-x text-xl'></i>
        </button>
      </div>
      <div id="logo-container" class="transition-all duration-500 ease-in-out h-36 sm:h-44 lg:h-64 my-4 flex justify-center items-center mx-auto max-h-32 max-w-32" >
        <img src="../../../assets/LucybellLogo.svg" alt="Logo" class="h-full object-contain logo">
      </div>
      <!-- Modal body content -->
      <div class="mt-2 overflow-y-auto max-h-[75vh]">
        <app-formulario-autenticacion [errores]="errores" titulo="Login" (posteoFormulario)="loguear($event)"></app-formulario-autenticacion>
      </div>
  
      <!-- Modal footer with buttons -->
      <div class="flex flex-row-reverse mt-4 space-x-2 space-x-reverse">
        <button type="button" class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium font-volkornSC text-black rounded-md shadow-lg " (click)="onConfirm()">Registrarse</button>
      </div>
    </div>
  </div>
  
