/*@import '../node_modules/boxicons/css/boxicons.min.css';*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color:#fbede0; }

.sidebar {
  width: 16rem;
}

.gradient-line-title {
  position: relative;
  height: 1px;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
}

.main-content {
  flex-grow: 1;
  padding: 1rem;
}

.bg-MyColor {
  background-color: #221D22;
}

.bg-MyBg {
  background-color:#fbede0;
}

.bg-MyHover:hover {
  background-color: #7B688B;
  color: white;
}

.volSC{
  font-family: 'VollkornSC';
}

.inter{
  font-family: 'Inter';
}

.crossBg {

  --s: 30px; /* control the size*/
  --c1: #fbede0;
  --c2: #e7cbcc;
  
  background:
    conic-gradient(at 60% 60%,var(--c1) 75%,#0000 0)
      0 0/calc(5*var(--s)/2) calc(5*var(--s)/2),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%)
      0 0/calc(5*var(--s)) calc(5*var(--s)),
    repeating-conic-gradient(var(--c2) 0 25%,var(--c1) 0 50%)
      0 0/var(--s) var(--s); ;

}

@media (max-width: 768px) {
  .sidebar {
    width: 0px;
  }

  .main-content {
    padding: 0px;
  }
}

@font-face {
  font-family: 'VollkornSC';
  src: url('../src/assets/VollkornSC-Regular.ttf');

}
@font-face {
  font-family: 'Inter';
  src: url('../src/assets/Inter-VariableFont_opsz\,wght.ttf')
}

@font-face {
  font-family: 'Julius';
  src: url('../src/assets/JuliusSansOne-Regular.ttf')
}
